<script src="/static/js/dashboard/status.js"></script>

<canvas class="HwUsageChart" id="CPUusageChart" ></canvas></div>
<canvas class="HwUsageChart" id="MemUsageChart"></canvas></div>
<canvas class="HwUsageChart" id="TempUsageChart"></canvas></div>

<!-- <div class="container">
    <div class="row row-cols-4">
      <div class="col"><canvas class="CPUusageChart" id="CPUusageChart" ></canvas></div>
      <div class="col"><canvas class="MemUsageChart" id="MemUsageChart"></canvas></div>
      <div class="col"><canvas class="TempUsageChart" id="TempUsageChart"></canvas></div>
    </div>
  </div> -->


