<html>
    <body>
    <!-- Show variable -->    
    Show variable example：ㄋ <br>
    number {{ vars["Name"]}}
    <br> Second var {{ vars["resource"] }}

    <!-- if condition -->    
    <br> If condition example: 
    {% if vars["resource"] > 5 %}
        resource is enough
    {% elif vars["resource"] > 5 %}
        resource is few
    {% end %}

    <!-- for loop condition -->    
    <br> For loop example
    <ul>
    {% for item in waypoints%}
        <li>{{item["Name"]}}</li>
    {% end %}
    </ul>

    <!-- function call example -->
    <br>Function example: sum: {{ mySum(10,10)}}



    </body>
</home>