
        <p>Battery: 80%</p>
        <p>AMR Status: Running</p>
        <p>Status code: None</p>
        <p>Mission: From A to C, under path B->C </p>
        <p><img src="/static/image/map/demo_map.png" style="width: 100%;height: auto; max-width:1024"></p>


        Task:
        <ul>
            <li>Show Map block, Status block, Mission block</li>
            <li>Use dynaic loading to show/hide block by user privilege</li>
            <li>Control the content inside blocks </li>

        </ul>
        