<script src="/static/js/jquery-3.6.0.min.js"></script>
<script src="/static/js/eventemitter2.min.js"></script>
<script src="/static/js/roslib.js"></script>
<script src="/static/js/easeljs.js"></script>
<script src="/static/js/createjs.js"></script>
<script src="/static/js/three.js"></script>
<script src="/static/js/ros2d.js" defer></script>
<script src="/static/js/dashboard/dashboardCtrl.js"></script>

<p id="statusBlock">status block</p>
<p id="missionBlock">mission block</p>
<div id="mapdisplay" style="color:#ced6ce" ></div>
<div > 
    <button onclick = "zoomin()"><img src="/static/image/zoomIn.png" height ="25" width="25"></button>
    <button onclick = "zoomout()"><img src="/static/image/zoomOut.png" height ="25" width="25"></button>
    <button onclick = "pan(this)"><img src="/static/image/move.png" height ="25" width="25"></button>
</div>