<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Expires" content="0"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/css/font-awesome/all.css" rel="stylesheet">
    <link href="/static/css/navflat.css" rel="stylesheet">
    <script src="/static/js/openSource/jquery-3.6.0.min.js"></script>
    <script src="/static/js/openSource/bootstrap.bundle.min.js" ></script>
    <!-- <script src="/static/js/openSource/vue.global.js" -->
    <script src="/static/js/main.js"></script>
    <title>Elle web viewer</title>
  </head>
  <body>
      <div class="container-all">
        <div class="container-left">
            <nav id="sidebar">
                <img id= "logo" src="/static/image/logo.jpg"></a>
                <button type="button" id="collapse" class="btn collapse-btn">
                    <i class="fas fa-align-left"></i>
                </button>
                <ul class="list-unstyled" >
                    <li class= "sidebar" id="Dashboard" onclick="openPage('Dashboard')">Dashboard <i class="fa fa-solid fa-tv"></i></a></li> 
                    <li ><a class= "sidebar" href="#sublist" data-bs-toggle="collapse" id="dropdown">Setup<i class="fa fa-solid fa-wrench"></i></a>
                        <ul id="sublist" class="list-unstyled collapse">
                            <li><a href="#">Map <i class="fa fa-solid fa-map-location-dot"></i></i></a></li> 
                            <li><a href="#">Mission <i class="fa fa-duotone fa-list-check"></i></a></li>
                        </ul>
                    </li>
                    <li class= "sidebar" onclick="openPage('System')">System <i class="fa fa-solid fa-gear"></i></a></li>
                    <li class= "sidebar" onclick="openPage('Log')">Log <i class="fa fa-solid fa-database"></i></a></li>
                    <li class= "sidebar" onclick="openPage('Logout')">Logout <i class="fa fa-solid fa-arrow-right-from-bracket"></i></a></li>
                    
                </ul>
            </nav>
        </div>
        <div class="container-right">
            <div class="container-fluid">
                <div id="pageContent"></div>
            </div>
        </div>
    </div>
    <footer>
    </footer>
  </body>
</html>